<a href="https://colab.research.google.com/github/Jade0826/introduction-to-computers/blob/main/0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("test")

test

In [2]:
sum=0
test=int(input("請輸入一個正整數:"))
for n in range(1,test+1):
  sum=sum+n
print("1到",test,"的整數合為",sum)

請輸入一個正整數:50
1到 50 的整數合為 1275

In [5]:
sum=0
test=int(input("請輸入一個正整數:"))
for m in range(1,test+1):
  sum=sum+m
  print("1到",str(m)+"的整數合為",sum)

請輸入一個正整數:50
1到 1的整數合為 1
1到 2的整數合為 3
1到 3的整數合為 6
1到 4的整數合為 10
1到 5的整數合為 15
1到 6的整數合為 21
1到 7的整數合為 28
1到 8的整數合為 36
1到 9的整數合為 45
1到 10的整數合為 55
1到 11的整數合為 66
1到 12的整數合為 78
1到 13的整數合為 91
1到 14的整數合為 105
1到 15的整數合為 120
1到 16的整數合為 136
1到 17的整數合為 153
1到 18的整數合為 171
1到 19的整數合為 190
1到 20的整數合為 210
1到 21的整數合為 231
1到 22的整數合為 253
1到 23的整數合為 276
1到 24的整數合為 300
1到 25的整數合為 325
1到 26的整數合為 351
1到 27的整數合為 378
1到 28的整數合為 406
1到 29的整數合為 435
1到 30的整數合為 465
1到 31的整數合為 496
1到 32的整數合為 528
1到 33的整數合為 561
1到 34的整數合為 595
1到 35的整數合為 630
1到 36的整數合為 666
1到 37的整數合為 703
1到 38的整數合為 741
1到 39的整數合為 780
1到 40的整數合為 820
1到 41的整數合為 861
1到 42的整數合為 903
1到 43的整數合為 946
1到 44的整數合為 990
1到 45的整數合為 1035
1到 46的整數合為 1081
1到 47的整數合為 1128
1到 48的整數合為 1176
1到 49的整數合為 1225
1到 50的整數合為 1275